.columnas {
  display: flex;
  flex-direction: column;
}

.filas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selects {
  font-family: ROBOTO;
  font-weight: bold;
  background-color: black;
  text-align: center;
  color: white;
  margin: 10px;
  text-transform: uppercase;
  box-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
  border-radius: 25%;
  transition: transform 0.3s ease;
  border-color: white;
}

.selects:hover {
  transform: scale(1.1);
}
