.boton {
  margin-bottom: 4px;
  min-width: 100px;
  min-height: 30px;
  width: 100px;
  background-color: black;
  color: #ffffff;
  border-radius: 25%;
  padding: 5px;
  font-family: Roboto;
  text-transform: uppercase;
  box-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
  text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 30px #daa520;
  transition: transform 0.3s ease;
}

.boton:hover {
  transform: scale(1.1);
  background-color: dimgray;
}

.card {
  position: relative;
  width: 360px;
  flex: 0 0 300px;
  margin: 10px;
  box-sizing: content-box;
  justify-content: center;
  border-radius: 25%;
  background-image: url('https://res.cloudinary.com/dpjeltekx/image/upload/v1684187830/Ryck%20And%20Morty/17363879_MotionElements_purple-stroke-cyber_converted_616517-640x360-3s-q1_cpyecv.gif');
  border: 5px solid yellow;
  box-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px #daa520;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
}

.card h2 {
  position: absolute;
  top: 5%;
  left: 11%;
  color: black;
}

.textoPrimario {
  margin: 4px;
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px #daa520;
  transition: transform 0.3s ease;
}
.textoPrimario:hover {
  transform: scale(1.1);
}

.textoSecundario {
  margin: 4px;
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
  transition: transform 0.3s ease;
}
.textoSecundario:hover {
  transform: scale(1.1);
}

.textoTerciario {
  margin: 4px;
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 25px yellowgreen, 0 0 5px darkgreen;
  transition: transform 0.3s ease;
}
.textoTerciario:hover {
  transform: scale(1.1);
}

.imagenes {
  margin-top: 8px;
  height: 300px;
  width: 300px;
  box-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px #daa520;
  border-radius: 25%;
  transition: transform 0.3s ease;
}
.imagenes:hover {
  transform: scale(1.1);
}
