.imagen {
  margin-top: 8px;
  height: 450px;
  width: 300px;
  box-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px #daa520;
  border-radius: 25%;
  transition: transform 0.3s ease;
}
.imagen:hover {
  transform: scale(1.1);
}

.textoPrimario {
  margin: 4px;
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px #daa520;
  transition: transform 0.3s ease;
}
.textoPrimario:hover {
  transform: scale(1.1);
}

.textoSecundario {
  margin: 4px;
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
  transition: transform 0.3s ease;
}
.textoSecundario:hover {
  transform: scale(1.1);
}

.textoTerciario {
  margin: 8px;
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 25px yellowgreen, 0 0 5px darkgreen;
  transition: transform 0.3s ease;
}
.textoTerciario:hover {
  transform: scale(1.1);
}
.textoLink {
  margin-bottom: 10px;
  color: black;
  text-align: center;
  font-family: Roboto;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black, 0 0 25px yellowgreen, 0 0 5px darkgreen;
  transition: transform 0.3s ease;
  text-decoration: none;
  font-size: 30px;
}
.textoLink:hover {
  transform: scale(1.1);
}
.card {
  position: relative;
  width: 1000px;
  flex: 0 0 300px;
  margin: 10px;
  box-sizing: content-box;
  justify-content: center;
  border-radius: 25% 25% 0 0;
  background-image: url('https://res.cloudinary.com/dpjeltekx/image/upload/v1684457239/Ryck%20And%20Morty/17336682_MotionElements_green-particle-ground-loop_converted_617556-640x360-3s-q1_wqzj5w.gif');
  border: 5px solid yellow;
  box-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px #daa520;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
}

.card h2 {
  color: black;
}

.filas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
